body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #201b2c; 
    color: #f0ffffde; 
}

header {
    position: relative;
}

section {
    margin: 20px;
}

#welcome {
    background-color: #4577e2;
    padding: 20px;
    text-align: center;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: flex-start; /
}

.welcome-heading {
    color: #f1f1f1;
    font-size: 1.5em;
    margin: 0;
    display: flex;
    align-items: center; 
}

.aviao-img {
    width: 250px; 
    height: auto; 
    margin-left: 20px; 
}

.wolcome-head {
    color: #f0ffffde; 
    font-size: 1.2em;
    margin-top: 10px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.destinos-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.img-destino {
    position: relative;
    display: inline-block;
    width: 30%;
    margin-bottom: 20px;
    background-color: #334e68; 
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.img-destino img {
    border: 5px solid #ffffff;
    border-radius: 10px;
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
}

.image-haver,
.image-map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease; 
    object-fit: cover;
}

.img-destino:hover .image-haver,
.img-destino:hover .image-map {
    opacity: 0.9;
}

.img-destino:hover .box,
.img-destino:hover .travis {
    opacity: 0;
}

.img-destino h3 {
    color: #00ff88;
    font-size: 1.5em;
    margin-top: 10px;
    text-align: center;
}

.img-destino p {
    color: #dee5f7;
    font-size: 1em;
    align-items: center;
}

.lists-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 20px;
}

#info-list-week,
#info-list-month {
    width: 50%;
    background-color: #2f2841; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

#info-list-week table,
#info-list-month table {
    width: 100%;
    border-collapse: collapse;
}

#info-list-week th,
#info-list-month th,
#info-list-week td,
#info-list-month td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #3a47b4;
}

#info-list-week th,
#info-list-month th {
    background-color: #0f3460; 
    color: #ffffff;
    font-size: 1.2em;
}

#info-list-week td,
#info-list-month td {
    color: #f0ffffde; 
}

#info-list-week tr:hover,
#info-list-month tr:hover {
    background-color: #4577e2; 
}

footer {
    background-color: #14274e; 
    padding: 20px;
    color: #f1f1f1;
    text-align: center;
}

#info-list-week h3,
#info-list-month h3 {
    color: #00ff88; 
    font-size: 1.5em;
    margin-bottom: 10px;
    overflow: auto;
}

a {
    color: #00ff88; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


@media screen and (max-width: 768px) {
    .destinos-container, 
    .lists-container {
        flex-direction: column;
        align-items: center;
    }

    .img-destino {
        width: 100%;
    }

    #info-list-week, 
    #info-list-month {
        width: 100%;
    }
}
footer {
    background-color:#201b2c; 
    padding: 20px;
    color: #f1f1f1;
    text-align: center;
    margin-top: 20px;
}

footer .social-media {
    margin-bottom: 10px;
}

footer .social-media a {
    color: #f1f1f1; 
    margin: 0 10px;
    font-size: 1.5em;
    transition: color 0.3s ease;
}

footer .social-media a:hover {
    color: #00ff88; 
}

footer p {
    margin-top: 10px;
    font-size: 0.9em;
    color: #f1f1f1;
}

